################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.ipynb_checkpoints
/.vs
murefi/__pycache__/parameter_mapping.cpython-36.pyc
*.pyc
murefi.egg-info/dependency_links.txt
murefi.egg-info/PKG-INFO
murefi.egg-info/requires.txt
murefi.egg-info/SOURCES.txt
murefi.egg-info/top_level.txt
examples/.ipynb_checkpoints/CreateDatasetAndSimpleFit-checkpoint.ipynb
murefi/murefi.egg-info/dependency_links.txt
murefi/murefi.egg-info/PKG-INFO
murefi/murefi.egg-info/requires.txt
murefi/murefi.egg-info/SOURCES.txt
murefi/murefi.egg-info/top_level.txt
examples/.ipynb_checkpoints/FittingErrorModelParameter-checkpoint.ipynb
murefi/.ipynb_checkpoints/2018-11-23_FitNewErrorModel-checkpoint.ipynb
